html {
    background-color: #eee;
    height: 100%;
}
body {
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}
#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.NavigaTion,.van-nav-bar {
    .van-nav-bar__right {
        right: 10px;
        .van-icon {
            padding: 10px;
        }
    }
}
.NavigaTion,.van-nav-bar {
    .van-nav-bar__left {
        left: 10px;
        .van-icon {
            padding: 10px;
        }
    }
}