html {
    background-color: #eee;
    height: 100%;
}
body {
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}
#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}