html {
    background-color: #eee;
}
body {
    max-width: 750px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #ffffff;
}
#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
