.Header {
    display: flex;
    margin: 12PX 0;
    align-items: center;
    padding: 0 12PX;
    :global {
        .van-icon {
            font-size: 20px;
            color: #9e9e9e;
        }
    }
    .search {
        flex: 1;
        height: 32PX;
        background-color: #EFEBEB;
        border-radius: 16PX;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0 12PX;
        cursor: pointer;
        .placeholder {
            font-size: 12PX;
            margin-left: 12px;
            color: #555555;
        }
    }

}


